.container{
    margin-left: 300px;
    margin-top: 10px;
}
.reset{
    background-color: rgb(9, 207, 9);
    width: 30px;
    height: 30px;
    margin-left: 5px;
    border:none;
    border-radius: 5px;
}