.header{
    background-color:rgb(238, 230, 230,0.7);
    height: 40px;
    padding-top: 15px;
    padding-left: 20px;
}

.items{
    background-color: rgb(70, 176, 238);
    color: white;
    text-align: center;
    padding-bottom: 3px;
    display: inline-block;
    width: 40px;
    border-radius: 45px;
    margin-right: 10px;
    margin-left: 10px;
}